@model MerchandiseSport.Models.Users

@{
    ViewData["Title"] = "Register";
    Layout = "_LoginLayout";
}

<h1>Register a new user</h1>

<body class="text-center">
    <hr />
    <div class="text-center">
        <div class="text-center">
            <form asp-action="Register">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group"><span asp-validation-for="UserName" class="text-danger"></span> </div>
                <div class="form-group"><input type="text" class="inputtext -55r1-6luy" name="UserName" id="UserName" data-testid="royal_Username" placeholder="User name" aria-label="User name">     </div>
                <div class="form-group"><input type="password"  class="inputtext -55r1-6luy" name="Password" id="UserName" data-testid="royal_Password" placeholder="Password" aria-label="Password"></div>
                <div class="form-group">  <span asp-validation-for="Password" class="text-danger"></span></div>
                <div class="form-group"><input type="submit" value="Register" class="btn btn-primary" /></div>
            </form>
            @if (ViewBag.Error != null)
            {
                <div class="text-danger"> @ViewBag.Error</div>}
        </div>
    </div>

    <div>
        Already registered? <a asp-action="Login">Click here </a> to login
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>